overview {
    backdrop-color "{{color4}}"
}

layout {
    background-color "{{color4}}"

    insert-hint {
        color "{{color3}}"
    }

    focus-ring {
        active-color "{{color13}}"
        inactive-color "{{color4}}"
    }
}
