* {
    primary: rgb(105, 225, 0);
    primary-fixed: rgb(128, 255, 41);
    primary-fixed-dim: rgb(105, 225, 0);
    on-primary: rgb(21, 56, 0);
    on-primary-fixed: rgb(9, 33, 0);
    on-primary-fixed-variant: rgb(34, 81, 0);
    primary-container: rgb(34, 81, 0);
    on-primary-container: rgb(128, 255, 41);
    secondary: rgb(173, 207, 174);
    secondary-fixed: rgb(200, 236, 201);
    secondary-fixed-dim: rgb(173, 207, 174);
    on-secondary: rgb(25, 54, 31);
    on-secondary-fixed: rgb(3, 33, 12);
    on-secondary-fixed-variant: rgb(47, 77, 52);
    secondary-container: rgb(47, 77, 52);
    on-secondary-container: rgb(200, 236, 201);
    tertiary: rgb(150, 212, 181);
    tertiary-fixed: rgb(177, 240, 208);
    tertiary-fixed-dim: rgb(150, 212, 181);
    on-tertiary: rgb(0, 56, 38);
    on-tertiary-fixed: rgb(0, 33, 21);
    on-tertiary-fixed-variant: rgb(15, 81, 58);
    tertiary-container: rgb(15, 81, 58);
    on-tertiary-container: rgb(177, 240, 208);
    error: rgb(255, 180, 171);
    on-error: rgb(105, 0, 5);
    error-container: rgb(147, 0, 10);
    on-error-container: rgb(255, 218, 214);
    surface: rgb(15, 21, 11);
    on-surface: rgb(222, 229, 211);
    on-surface-variant: rgb(194, 201, 184);
    outline: rgb(140, 147, 131);
    outline-variant: rgb(66, 73, 60);
    shadow: rgb(0, 0, 0);
    scrim: rgb(0, 0, 0);
    inverse-surface: rgb(222, 229, 211);
    inverse-on-surface: rgb(44, 50, 38);
    inverse-primary: rgb(47, 108, 0);
    surface-dim: rgb(15, 21, 11);
    surface-bright: rgb(53, 59, 47);
    surface-container-lowest: rgb(10, 16, 6);
    surface-container-low: rgb(23, 29, 19);
    surface-container: rgb(27, 33, 22);
    surface-container-high: rgb(38, 44, 32);
    surface-container-highest: rgb(48, 55, 43);
}
