configuration {
    show-icons: true;
    icon-theme: "kora;";
    font: "Cantarell 15";

    timeout {
        action: "kb-cancel";
        delay:  0;
    }

    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "colors.rasi"

