overview {
    backdrop-color "#6B8040"
}

layout {
    background-color "#6B8040"

    insert-hint {
        color "#747972"
    }

    focus-ring {
        active-color "#C2D5BC"
        inactive-color "#6B8040"
    }
}
