overview {
    backdrop-color "#677786"
}

layout {
    background-color "#677786"

    insert-hint {
        color "#596875"
    }

    focus-ring {
        active-color "#728192"
        inactive-color "#677786"
    }
}
