layout {
	background-color "#0f150b"

    focus-ring {
        active-color "#8c9383"
        inactive-color "#8c9383"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#69e100"
        inactive-color "#8c9383"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#69e100"
        inactive-color "#8c9383"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#69e10080"
    }
}

overview {
	backdrop-color "#0f150b"
}

recent-windows {
    highlight {
        active-color "#69e100"
        urgent-color "#ffb4ab"
    }
}
