@import "/home/matt/.cache/wal/colors-waybar.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    font-size: 20pt;
    background-color: rgba(0, 0, 0, .75);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 20px;
    background-color: gray;
    color: @foreground;
    margin: 20px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:focus {
    color: black;
    background-color: @color1;
}

button:active {
    color: black;
    background-color: @color1;
}

button:hover {
    color: black;
    background-color: @color4;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
